---
layout: default
title: Homepage
permalink: /
seo:
title: "Vinny’s Beach Bar — Drinks • Food • Vibes"
description: "Retro-inspired beach bar on the boardwalk—skewers, tacos, and cocktails from 5pm till late, daily. Come for the drinks, stay for the vibes."
keywords: "beach bar, cocktails, tacos, skewers, ocean, Vinny's, drinks, food, vibes"
social_image: "/assets/images/social.jpg"
hide-from-google: false
---


{% include hero.html %}
{% include feature.html %}
{% include menu.html %}
{% include footer.html %}