<!-- MENU -->
<section id="menu" class="padded  bg-dot-sand dark-text menu grid-center">
  <div class="col-12 center">
    <h2 class="text-lg red-text">menu.</h2>
  </div>

  <!-- First column  -->
  <div class="col-5_lg-6_sm-12 padded-2">
    <h3 class="red-text">surfin' skewers.</h3>
    <div class="grid">
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
    </div>

    <h3 class="red-text">tiki tacos.</h3>
    <div class="grid">
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
    </div>
  </div>

  <!-- Second column  -->
  <div class="col-5_lg-6_sm-12 padded-2 mob-padded-t-0">
    <h3 class="red-text">retro rockin' roll-ups.</h3>
    <div class="grid">
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
    </div>

    <h3 class="red-text">surfer's sour.</h3>
    <div class="grid">
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
    </div>

    <h3 class="red-text">mermaid's martini.</h3>
    <div class="grid">
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
      <div class="col-10 editable">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
          consequuntur sequi qui. Accusantium at excepturi.
        </p>
      </div>
      <div class="col-2 editable">
        <span class="price">$20</span>
      </div>
    </div>
  </div>

  <div class="col-10_sm-12 padded-2 center">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, illum,
      eius excepturi, consectetur vitae molestias voluptates eos deserunt
      similique maxime minus. Minus, iure? Quia animi vero nisi dolorum odio
      veniam!
    </p>
  </div>
</section>
